<div class="jumbotron">
  <h1>Home Removals Item Manager</h1>
  <p class="lead">App to record the contents of someone's house.</p>
  <p>
    <a class="btn btn-info" href="/" role="button">All items</a>
    <b> - </b>
    <a class="btn btn-primary" href="/rooms" role="button">Manage rooms</a>
    <b> - </b>
    <a class="btn btn-primary" href="/items" role="button">Manage items</a>
    <b> - </b>
    <a class="btn btn-success" href="/manifest" role="button">Generate manifest</a>
  </p>
</div>